@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Work Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
/* font-family: 'Rajdhani', sans-serif; */

* {
    font-family: 'Work Sans', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
}

#header-container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center; 
    width: 100%;
    height: 400px;
    background-image: url("images/banner.jpg");
    background-size: cover;
    transition: height 0.5s ease, flex-direction 0.5s ease;
}

#header-logo {
    height: 200px;
    position: relative;
    transition: height 0.5s ease;
}

#header-banner {
    object-fit: cover;
    width: 100%;
    height: 400px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#header-items-container {
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header-item {
    font-size: 17.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 7.5px;
    position: relative;
    z-index: 2;
    font-family: 'Rajdhani', sans-serif;
    text-shadow: 0px 2px 2px rgb(34, 45, 120);
}

.header-item::after {
    content: '';
    background-color: rgba(255, 255, 255, 0.238);
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: height 0.25s ease-in-out;
}

.header-item:hover::after {
    height: 100%;
}

a img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    margin-top: 400px;
    transition: margin-top 0.5s ease;
    background-color: whitesmoke;
}

#footer-container {
    width: 100%;
    height: 300px;
    background-image: url("images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3px;
}

.footer-section a {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    text-shadow: 0px 2px 2px rgb(34, 45, 120);
    position: relative;
    font-size: 15px;
}

.footer-section a:not(.donthighlight)::after {
    content: '';
    background-color: rgba(255, 255, 255, 0.238);
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: height 0.25s ease-in-out;
}

.footer-section a:hover::after {
    height: 100%;
}

#footer-logo {
    height: 150px;
    position: relative;
    
}